/* Importando estilização geral */
@import url(/src/styles/global.css);

/* Área de texto para denúncias */
textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.6rem;
    resize: none;
    border-radius: 15px;
    border: 1px solid var(--clr-primary-lavanda-100);
    background-color: var(--clr-neutral-white);
}

textarea::placeholder {
    color: #999;
}

/* Estilo para o modal (pop-up) */
.modal {
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.5);
}

.modal-content {
    text-align: center;
    padding: 30px;
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 15px;
    background-color: var(--clr-neutral-white);
    box-shadow: 0 5px 20px rgba(18, 18, 18, 0.2);
    animation: fadeInModal 0.4s ease-out;
}

.modal-content h2 {
    color: var(--clr-primary-lavanda-150);
}

.modal-content p {
    color: var(--clr-primary-lavanda-150);
}

/* Animação do modal */
@keyframes fadeInModal {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }

}

/* Botão de envio */
.submit-btn {
    display: block;
    padding: 15px 40px;
    margin: 30px auto 0 auto;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    color: var(--clr-neutral-white);
    background-color: var(--clr-primary-lavanda-150);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.submit-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px 10px rgba(70, 11, 87, 0.1);
}