@import url("./global.css");

/* ====== Container principal ====== */
.integrantes {
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-top: 25px;
}

/* ====== Card dos integrantes ====== */
.card-integrante {
  text-align: center;
  width: 180px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(18, 18, 18, 0.1);
  background-color: var(--clr-primary-lavanda-50);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-integrante:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 25px rgba(18, 18, 18, 0.15);
}

.card-integrante > img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 3px solid var(--clr-primary-lavanda-100);
}

.card-integrante h3 {
  font-size: 1.8rem;
  margin: 10px 0;
  margin-bottom: 30px;
  color: var(--clr-primary-lavanda-150);
}

.content-box {
  margin-bottom: 40px;
}

/* ====== Links ====== */
.links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.links img {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid var(--clr-primary-lavanda-100);
  transition: transform 0.2s ease;
}

.links img:hover {
  transform: scale(1.15);
}

/* ====== Responsividade ====== */
@media (min-width: 700px) {
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

  .card-integrante {
    width: 220px;
  }

  .card-integrante > img {
    width: 150px;
    height: 150px;
  }

}