/* --- cores --- */

:root {
  --clr-gradient: linear-gradient(135deg, #d8d2e8, #a799c7);
  --clr-primary-lavanda-50: #ede9f9;
  --clr-primary-lavanda-100: #c9c0e0;
  --clr-primary-lavanda-150: #3f3c62;
  
  --clr-neutral-black: #121212;
  --clr-neutral-white: #fafafa;
}

/* --- tipografia --- */

/* isso faz com que 1 rem seja igual a 10px */
html {
  font-size: 62.5%;
}

/* Achei essa forma mais prática para fazer a responsividade das letras sem precisar 
  definir o tamanho da fonte em toda classe*/
:root {
  --font-h1: 2.6rem;
  --font-h2: 2.6rem;
  --font-p: 1.6rem;
  --font-a: 1.6rem;
}

@media (max-width: 768px) {
  :root {
    --font-h1: 3.6rem;
    --font-h2: 3.6rem;
    --font-p: 1.8rem;
    --font-a: 1.8rem;
  }
}

@media (max-width: 480px) {
  :root {
    --font-h1: 3.6rem;
    --font-h2: 3.6rem;
    --font-p: 1.6rem;
    --font-a: 2rem;
  }
}

h1 {
  font-size: var(--font-h1)
}

h2 {
  font-size: var(--font-h2);
}

a {
  font-size: var(--font-a);
}

p {
  font-size: var(--font-p);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Outfit", sans-serif;
}

/* Body (geral) */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  
  background: var(--clr-gradient);
}

section.hero {
  display: none;
}

.content-box {
  text-align: left;
  padding: 30px 40px;
  box-shadow: 10px 10px 20px rgba(18, 18, 18, 0.1);
  border-radius: 20px;
  background-color: var(--clr-primary-lavanda-50);
}

.content-box h1,
.content-box h2 {
  margin-bottom: 20px;
  color: var(--clr-primary-lavanda-150);
}

.content-box p {
  color: var(--clr-primary-lavanda-150);
}

.content-box strong {
  font-size: var(--font-p);
}

/* esse parte de ul li e p:last-of-type estava inline */
.content-box ul {
  text-align: left; 
  padding-left: 20px; 
  color: var(--clr-primary-lavanda-150);
}

.content-box li {
  margin-top: 15px;
  margin-bottom: 10px;
}

.content-box > p:last-of-type {
  margin-top: 20px;
}

/* Esse código também estava INLINE em uma tag hr que n fazia sentido */
div.line {
  margin: 25px 0;
  border: 0; 
  border-top: 2px solid var(--clr-primary-lavanda-100); 
}

/* Transição inicial */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* A única coisa que essa main estava fazendo era o max width e a animação
 o resto era redudante */
.main-content {
  max-width: 700px;
  animation: fadeIn 0.6s ease-out forwards;
}

/* NAV's */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
  scale: 0.96;
}

nav a {
  padding: 10px 25px;
  border-radius: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-primary-lavanda-150);
  background-color: var(--clr-primary-lavanda-50);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

nav a.active,
nav a:hover {
  background-color: var(--clr-primary-lavanda-150);
  color: var(--clr-neutral-white);
  transform: translateY(-3px);
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 30px 30px 0 0;
  background-color: var(--clr-primary-lavanda-100);
}

footer a,
#link {
  position: relative;
  font-weight: 600;
  margin-bottom: 15px;
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--clr-primary-lavanda-150);
}

footer a::after,
#link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  transition: width 0.3s ease;
  background-color: var(--clr-primary-lavanda-150);
}

footer a:hover::after,
#link:hover::after {
  width: 100%;
}

footer p {
  text-align: center;
  color: var(--clr-primary-lavanda-150);
}


/* Responsividade */
@media (min-width: 768px) {
  .hero-mobile {
    display: none;
  }

  .content-box{
    margin-top: 2000px;
  }

  .content-box h1,
  .content-box h2 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* esse estilo não estava sendo aplicado */
  .content-box > :last-child {
    font-size: 20px;
  }

  .hero-mobile {
    margin-top: 20px;
  }


  footer {
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-radius: 30px 30px 0 0;
  }

  nav {
    margin-bottom: 20px;
  }

}

@media (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 5px;
  }
  img {
    border-radius: 15px;
    border: 1px solid var(--clr-primary-lavanda-50);
  }
  nav {
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 370px;
    height: 50px;
    padding: 8px;
  }

  .content-box {
    width: 92%;
    margin: 0;
    padding: 30px;
    border-radius: 15px;
  }

  .content-box h1 {
    font-weight: 600;
  }

  ul {
    padding-left: 15px;
  }

  ul > li,
  strong {
    font-size: 2rem;
  }

  footer {
    width: 92%;
    padding: 8px 0;
    border-radius: 15px 15px 0 0;
  }

  textarea {
    width: 100%;
    font-size: 1.6rem;
  }

  button,
  input[type="submit"] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    align-items: center;
  }

  .main-content {
    max-width: 99vw;
  }

  .emergency-grid {
    display: block;
  }

  .emergency-card {
    width: 100%;
    border-radius: 6px;
    box-shadow: none;
    transform: none;
  }

  .emergency-card h3 {
    font-size: 1.4rem;
    margin-bottom: 3px;
  }

  .emergency-card p {
    font-size: 1rem;
  }
}