/* Importando estilização geral */
@import url('./global.css');

/* Estilos para a página de Números de Emergência */
.emergency-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.emergency-card {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--clr-primary-lavanda-100);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.emergency-card:hover {
    box-shadow: 10px 10px 10px rgba(63, 60, 98, 0.4);
    transform: translateY(-5px);
}

.emergency-card h3 {
    font-size: 2.8rem;
    margin: 0 0 10px 0;
    color: var(--clr-primary-lavanda-150);
}