/* Importando estilização geral */
@import url('./global.css');

.content-box li{
    margin-top: 15px;
}

@media (max-width: 767px) {
  /* Isso conflita com o global que está dizendo display none, convém abrir uma issue sobre isso... */
  .hero-mobile {
    display: block;
    width: 350px;
    height: auto;
  }

  .content-box{
    /* width: 370px; */
    margin-top: 20px;
  }

  .content-box h1,
  .content-box h2 {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* esse estilo não estava sendo aplicado */
  .content-box > :last-child {
    font-size: 20px;
  }

  .hero-mobile {
    margin-top: 20px;
  }
}