/* Importando estilização geral */
@import url('./global.css');

.content-box li{
    margin-top: 15px;
}

@media (max-width: 767px) {
  .hero-mobile {
    display: block;
    width: 350px;
    height: auto;
  }
  .content-box{
    width: 370px;
    margin-top: 20px;
  }

  .content-box h1,
  .content-box h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    margin-left: 20px;
    margin-right: 20px;
  }
  .content-box p {
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
  }
  .content-box:last-child{
    font-size: 20px;
    font-weight: 500;
  }
  .hero-mobile {
    margin-top: 20px;
  }
}